.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: red;
    height: 80%;
    width: 80%;
}
.register-item{
    background: beige;
}